body {
	font-family: 'Lato', 'Geneva', sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: #506266;
	margin: 0px 0px 3em 0px;
}

img {
	width: 100%;
}

h1, h2, h3 {
	font-family: 'Lato', 'Geneva', sans-serif;
	font-weight: 300;
	text-align: center;
}

h1 {
	color: white;
}

li {
	margin-bottom: 1em;
}

hr {
	border: 0;
	color: #D8D8D8;
	background-color: #D8D8D8;
	margin-left: 0;
	height: 1px;
}

p {
	line-height: 1.75em;
}

.main_header {
	width: 100%;
	height: 25em;
}

#index_header {
	background-image: url("../img/square_duct_cr_short.jpg");
	-webkit-filter: contrast(2);
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}

#about_header {
	background-image: url("../img/squareduct_onjob_cr.jpg");
	-webkit-filter: contrast(1.5) brightness(1.25);
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}

#svcs_header {
	background-image: url("../img/arm_type_supports_cr.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}

#annc_header {
	background-image: url("../img/sheet_metal.jpg");
	-webkit-filter: contrast(1.5);
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}

.map_backdrop {
	background: -webkit-linear-gradient(black, gray);

	width: 35%;
	margin: 12em 0px 0px 1.25em;
	color: #00B4CC;
	padding: 0.5em;
	line-height: 0.75;
}

#svcs_header .map_backdrop {
	-webkit-filter: contrast(2);
}

#annc_header .map_backdrop {
	-webkit-filter: contrast(1);
}

#about_header .map_backdrop {
	-webkit-filter: contrast(1) brightness(1);
}

.main_nav {
	margin-top: 2em;
	text-align: center;
}

.main_nav a {
	padding-bottom: .1em;  
	padding-left: 0;
	margin-right: .75em;
	font-size: 1.3em;
	text-decoration: none;
	font-weight: 200;
}

.blue {
	color:#00B4CC;	
}

.faded {
	color: #7B8F8A;
}

.here {
	color: #00B4CC;
	border-bottom: none;
	cursor: text;
}

.not_here {
	border-bottom: 1px solid #7B8F8A;
}

.content {
	margin: 2.5em 4em 4em 4em;
}

.content h3 {
	color: black;
}

.vertical {
	width: 2px;
	color: #D8D8D8;
  	background-color: #D8D8D8;
	height: 1em;
 	margin: 0px;
  	border: 0px;
	display: inline-block;
	vertical-align: -20%;
	}

.contact_info {
	margin: 2em 0 3em 0;
	text-align: center;
	color:#00B4CC;
}

#contact_index {
	color: #506266;
}
