* {
	margin: 0;
}

a {
	color: #025454;
	text-decoration: none;

}

a::hover {
	text-decoration: underline;
}

.address-block {
	position: relative;
	display: inline-block;
}


.address-block #address p {
	display: block;
	text-align: middle;
	margin: 0;
}

.all-header .float-right-vert {
	top: 0;
	margin-right: 1.5em;
	position: relative;
  	float: right;
}

.header-logo {
	  	letter-spacing: -.5em;
}

 .header-logo, .header-raffbecker  {
	font-family: 'Ovo', serif;
  	font-size: 250%;
  	color: #660000;
  	margin: 0.5em;
  	display: inline-block;
  	position: relative;
	z-index: 1;
}



.header-logo a {
  	color: #660000;

}

 .header-raffbecker { 
	letter-spacing: normal;
	margin: 0.5em -2em;
}

.all-header .header-raffbecker .llp {
	font-size: 45%;

}

.all-header .header-raffbecker .llp#home-llp,  {
	color: #025454;
} 


.all-header .header-logo .amp {
	font-family: 'Ovo', serif;
	font-weight: normal;
  	font-size: 150%;
}

.all-header .header-logo .amp#home-amp {
	color: #025454;
}

.all-header .header-logo #l-r {
	vertical-align: 0.45em;
  	font-size: 175%;
}

.all-header .header-logo #l-b {
	vertical-align: -0.45em;
  	font-size: 175%;
}


.all-header.atty-hdr {
	padding: 1em 0 0 2em;
}

.atty-listing {
	margin-top: 10em;
}

.atty-nav-bar {
	height: 80em;
	background: -webkit-radial-gradient(#ffcc33, #996633);
	background: -o-radial-gradient(#ffcc33, #996633);
	background: -moz-radial-gradient(#ffcc33, #996633);
	background: linear-gradient(to right, #e6ac00, #ffcc33);
	position: relative;
	display: inline-block;
	width: 30%;
	vertical-align: top;
	margin-top: -9.5em;
	margin-left: 1.5em;
	z-index: 0;
}

.atty-pg {
	background: #ffffff;
}



.atty-nav-bar a {
	color: #000000;
}

.atty-nav-bar .here {
	font-size: 2em;
	cursor: none;
	color: white;
	line-height: 2em;
}

.atty-nav-bar .not-here {
	font-size: 1.15em;
	cursor: pointer;
	line-height: 2em;
	width: 8em;
}

.atty-nav-bar .not-here a:hover {
	color: #025454;
	font-weight: 900;
	font-size: 1.1em;
}

.atty-page-pic, .atty-page-pic #draff-pic, {
	width: 100%;
}

#ssalaz-pic {
	width: 65%;
}

.atty-sub-lists {
	margin: 0 0 2em 1em;
}

.atty-sub-lists h3 {
	color: #660000;
}

.atty-sub-lists ul {
	width: 80%;
}


.atty-sub-lists dt {
	position: relative;
	display: inline-block;
    width: 35%;
/*    text-align: right;*/
    font-weight: bold;
    color: #660000;
    line-height: 1.65em;	
}

.atty-sub-lists dt:after {
	content: ":";
	}

.atty-sub-lists dd {
	position: relative;
	display: inline-block;
	margin: 0 0 0 0;
    padding: 0 0 0.75em 36%;
    vertical-align: middle;
    width: 60%;
    line-height: 1.3em;
}

.atty-sub-lists dd:nth-child(2) {
	    padding: 0 0 0.25em 0;

	}

body {
	font-family: 'Muli', Arial, sans-serif;
	line-height: 1.75em;
	color: #2C2B26;
	background: #F7F9F8;
}


#david-pg .atty-nav-bar {
	height: 205em;
}

.email-header {
	font-size: 2em;
	cursor: pointer;
	color: #025454;
	float: right;
	position: relative;
	display: block;
	top: 2.75em;
	margin-right: -4em;
}

footer .page-width-banner {
	height: 8em;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

}

h1, h2, h3, h4, h5, p {
	margin: 0 1em;
}

.banner-left-block h4 {
	margin: 0;
}

.hidden {
	display: none;
}

#index-pic-wr {
	  height: 10em;
	  width: 100%;
}

#index-rbt {
	width: 40%;
	position: relative;
	display: inline-block;
}

.float-right-vert {
	position: relative;
  	float: right;
}

.contact-button {
	width: 8em;
	height: 3.5em;
	background: #025454;
	text-align: center;
	cursor: pointer;
}

.contact-button a {
	color: white;
	text-decoration: none;
	font-size: 1.75em;
  	line-height: 2em;
}


#index-contact-button {
	margin-right: -2em;
	margin-top: 5em;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);	
}

#index-contact-button a {
 	font-size: 1.25em;
 	line-height: 3em;
 	color: white;
 }




/*.index-wrap-top .right-block-top h3 {
	font-family: 'Sacramento', serif;
	font-size: 300%;
	margin: 0.5em 0 0 70%;
	color: #660000;
}*/

#index-exp {
	font-family: 'Sacramento', serif;
	font-size: 400%;
	margin: 0 0 0 40%;
	color: #660000;
	font-style: normal;
}

#index-text {
    padding: 0 5%;
    margin: 2em 0;
    position: relative;
    display: inline-block;
}

.left-block-top  {
  position: relative;
  display: inline-block;

}

.left-block-top video  {
	position: relative;
	width: 40em;
	height: 20.2em;
	display: inline-block;
	background-size: cover;
	overflow: hidden;
	margin-left: 0.5em;
}

.left-block-top.atty-block {
	width: 35%;
	margin-left: 0.75em;
	position: relative;
	display: inline-block;
}

.left-block-top.atty-block a, .right-block-top.atty-block a {
	color: #660000;
	cursor: pointer;
	text-decoration: none;
}

.left-block-top.atty-block img {
	width: 100%;
}

.left-block-top.atty-block p, .right-block-top.atty-block p {
	margin-bottom: 2em;
	text-align: justify;
	font-family: 'Source Sans Pro', Arial, sans-serif;
	position: relative;
	display: inline-block;
}

.left-block-top.atty-block p {
	margin-top: 3em;
}

li {
	font-size: 1.4em
}

li.no-show {
	opacity: 0;
	height: 0;
/*	position: relative;
	font-family: 'Fjalla One', sans-serif;
  	color: #BE3100;
  	font-size: 1.4em;*/
}

li.first-li {
	position: relative;
/*	font-family: 'Fjalla One', sans-serif;
  	color: #BE3100;
  	font-size: 1.4em;*/
}

.middle-body-wrap {
	padding: 3em 0;
  	background: #F7F9F8;
}


/*.middle-body-wrap article .text-block {
	width: auto;
}*/

.middle-body-wrap #attorney-square {
	position: relative;
	display: inline-block;
  	width: 96%;
  	margin: 0 2%;
}

.middle-body-wrap #attorney-square a {
	text-decoration: none;
	text-align: center;
	color: white;
}

.middle-body-wrap #attorney-square .att-pic-cap {
	display: block;
	background: #BE3100;
	width: 220px;
}

.middle-body-wrap #attorney-square [id*="index"], .middle-body-wrap #attorney-square #jacob-ind {
	position: relative;
	display: inline-block;
	margin-right: .5em;
}

.middle-body-wrap #attorney-square [id*="index"] img {
	-webkit-filter: none;
  	filter: none;
  	cursor: pointer;
	width: 220px;
	height: 196px;
	overflow: hidden;
	margin-right: .25em;
}

#jacob-ind img {
	width: 214px;
	height: 201px;
	overflow: hidden;
	margin-right: .25em;
  	cursor: pointer;
}

.middle-body-wrap h2 {
	font-family: 'Fjalla One', sans-serif;
	width: 15%;
	color: #BE3100;
}

.text-block {
	position: relative;
  	vertical-align: top;
  	display: none;
  	padding: 0 3%;
}

#pretty-text {
	width: 50%;
	position: relative;
	display: inline-block;

}

#pretty-text h2 {
/*	font-family: 'Josefin Slab', Georgia, serif;
	font-weight: 700;
	font-style: italic;
	font-size: 500%;
	font-size: 400%;*/
	line-height: 1.5em;

}

#fix-height {
	position: relative;
	height: 20em;
}

#pa-flip{
	position: relative;
	display: inline-block;

}

#pa-examples {
	display: none;
    text-align: right;
    margin-right: 6em;
    padding: 0;
    float: right;
}

#page-break-a {
	height: 4em;
/*	display: none;*/
}

#page-break-a a:hover {
	font-size: 120%;
	color: #BE3100;

}

#page-break-a h2 {
	padding: 0.75em 0 .25em 1em;
  	font-size: 175%;
  	font-family: 'Playfair Display', Georgia, serif;
  	font-weight: 400;
  	float: right;
}

.page-width-banner {
  	width: 99%;
  	height: 8em;
  	position: relative;
  	margin: 0 auto;
	background: -webkit-linear-gradient(to right, #AAAAAA, #747474);
	background: -o-linear-gradient(to right, #AAAAAA, #747474);
	background: -moz-linear-gradient(to right, #AAAAAA, #747474);
	background: linear-gradient(to right, #cccccc, #666666);
	-webkit-box-shadow: 10px 10px 5px #888888;
	-moz-box-shadow: 10px 10px 5px #888888;
	box-shadow: 10px 10px 5px #888888;
}

.page-width-banner .banner-left-block, .banner-right-block, .middle-block {
	position: relative;
	width: 32%;
	color: white;
	display: inline-block;
	vertical-align: text-top;
}

#peer-review-badge {
	float: right;
}

.pre-footer {
  	line-height: 1.25em;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.banner-left-block {
	padding-left: 1em;

}

.right-block-top {
	width: 40%;
	margin-left: 1.5em;
	padding-bottom: 2.5em;
	position: relative;
	display: inline-block;
	vertical-align: top;
}

.right-block-top p {
	margin-bottom: 2em; 
}


.right-block-top.atty-page-pic {
	width: 35%;
	margin-top: 4em;
}

.right-block-top.atty-block {
	width: 25%;
	margin: 4em 0 0 0.75em;
	position: relative;
	display: inline-block;
}

/*.right-block-top.atty-block p {
	margin-top: 3em;
}*/

.right-block-top.atty-block .pa-redirect-area {
	margin: 2em 2em 13.8em 2em;
}

.right-block-top.atty-block .pa-redirect-area h2 {
	font-family: 'Source Sans Pro', Arial, sans-serif;
	margin: 0 0 1.5em 0;
	color: #333333;
}

.right-block-top.atty-block .pa-redirect-area #employees-btn, #employers-btn {
	font-family: 'Sacramento', serif;
	font-size: 2.5em;
	float: right;
	margin: 0 0 1em 0;
}

.right-block-top.atty-page-pic {
	width: 35%;
}


ul {
	list-style: none;
}
