/*general*/

* {
	margin: 0;
}

body {
	font-family: 'Muli', Arial, sans-serif;
	line-height: 1.75em;
	color: #2C2B26;
	background: #F7F9F8;
}

a {
	color: #025454;
	text-decoration: none;

}


/*recurring*/

.address-block {
	position: relative;
	display: inline-block;
}


.address-block #address p {
	display: block;
	text-align: middle;
	margin: 0;
}

/*header*/

.header-logo .logo-link {
	text-decoration: none;
}

.logo-link {
	color: #660000
}

.all-header .float-right-vert {
	top: 0;
	margin-right: 1.5em;
	position: relative;
  	/*float: right;*/
  	z-index: 99;
}

.header-logo {
	letter-spacing: -.5em;
}

 .header-logo, .header-raffbecker  {
	font-family: 'Ovo', serif;
  	font-size: 250%;
  	color: #660000;
  	margin: 0.5em;
  	display: inline-block;
  	position: relative;
	z-index: 1;
}

.header-logo a {
  	color: #660000;

}

 .header-raffbecker { 
	letter-spacing: normal;
	margin: 0.5em -2em;
}

.all-header .header-raffbecker .llp {
	font-size: 45%;

}

.all-header .header-logo .amp {
	font-family: 'Ovo', serif;
	font-weight: normal;
  	font-size: 150%;
}

.all-header .header-logo #l-r {
	vertical-align: 0.45em;
  	font-size: 175%;
}

.all-header .header-logo #l-b {
	vertical-align: -0.45em;
  	font-size: 175%;
}

/*end recurring*/

/*index page*/

.all-header .header-logo .amp#home-amp {
	color: #025454;
}

.all-header .header-raffbecker .llp#home-llp,  {
	color: #025454;
} 
/*index*/

.moving-text-wrapper {
	width: 50%;
	height: 20em;
	position: relative;
	display: inline-block;
	font-family: 'Muli';
	padding: 10px;
}

.moving-text {
	margin: 0;
	text-align: left;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}

.moving-text {
	color: #000;
}

.mt-sentence-1, .mt-sentence-2 h2{
	width: 100%;
	height: 4em;
	opacity: 0;
	color: #000;
	position: absolute;
	display: inline;
	-webkit-animation-name: rotateSentence;
	-webkit-animation-duration: 9s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s; 
	-webkit-animation-iteration-count: 1;
}
.mt-sentence-2 h2 {
	-webkit-animation-name: lastSentence;
	-webkit-animation-delay: 6s;
}

.mt-sentence-1 h2:nth-child(2) { 
	-webkit-animation-delay: 3s; 
	color: #000;
}

.mt-sentence-1 h2:nth-child(3) {
	-webkit-animation-name: lastSentence;
	-webkit-animation-delay: 6s;
}


@-webkit-keyframes rotateSentence {
    0% { opacity: 1; -webkit-animation-timing-function: ease-in; height: 0px; }
    8% { opacity: 1; height: 60px; }
    19% { opacity: 1; height: 60px; }
	25% { opacity: 0; height: 60px; }
    100% { opacity: 0; }
}

@-webkit-keyframes lastSentence {
    0% { opacity: 1; -webkit-animation-timing-function: ease-in; height: 0px; }
    100% { opacity: 1; height: 60px; }
}

@-webkit-keyframes fadeInSentence {

}

/*end index*/

/*attorney pages*/

/*side nav*/
/*html, body, .container, .scroller {
	height: 100%;
}

.container {
	position: relative;
	overflow: hidden;
	background: #D3D3D3;
}
*/
.all-header.atty-hdr {
	padding: 1em 0 0 2em;
}

.atty-listing {
	margin-top: 10em;
}

.atty-bar {
	background: -webkit-radial-gradient(to right, #e6ac00, #ffcc33);
	background: -o-radial-gradient(to right, #e6ac00, #ffcc33);
	background: -moz-radial-gradient(to right, #e6ac00, #ffcc33);
	background: linear-gradient(to right, #e6ac00, #ffcc33);
	display: inline-block;
	height: 80em;
	top: -6.75em;
	margin-left: 1.5em;	
	position: relative;
/*	vertical-align: top;*/
	width: 20%;
	z-index: 0;
}


.atty-nav-bar ul {
	list-style: none;
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	top: 10em;
}

.atty-nav-bar ul a {
	display: inline-block;
	color:#333;
	font-weight: 700;
	line-height: 32px;
	padding: 0 15px;
	position: relative;
	text-decoration: none;
}

.atty-nav-bar ul li {
	display: inline-block;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
}

.atty-nav-bar ul li:hover {

}

.atty-nav-bar ul ul {
	display: none;
	padding: 0;
	position: absolute;
}

.atty-nav-bar ul ul li {
	display: inline-block;
	float: right;
	position: relative;
	width: 100%;
}

.atty-nav-bar ul ul a{
	font-size: .6em;
    line-height: 120%;
    padding: 10px 15px;
    left: 105%;
    top: -6em;
}

.atty-nav-bar ul ul ul {
	top:0;
	left:100%;
}

.atty-nav-bar ul li:hover > ul {
	display: block;
}

.atty-pg {
	background: #ffffff;
}

.atty-text {
    display: inline-block;
    position: relative;
    left: 22%;
    vertical-align: top;
    width: 70%;
    top: -55em;
}

.atty-nav-bar .here {
	font-size: 2em;
	cursor: none;
	color: white;
	line-height: 2em;
}

#ssalaz-pic {
	width: 65%;
}

.atty-pg-pic-cap {
	display: block;
	position: relative;
	margin: 0 auto;
	width: 65%;
}

#areas-of-prac {
	width: 215%;
	font-size: .75em;
}

#areas-of-prac ul li {
	display: inline;
}

.vertical {
	width: 2px;
	color: #D8D8D8;
  	background-color: #D8D8D8;
	height: 1em;
 	margin: 0px;
  	border: 0px;
	display: inline-block;
	vertical-align: -20%;
}


#david-pg .atty-nav-bar {
	height: 205em;
}

.c-menu {
  position: fixed;
  z-index: 200;
  background-color: #660000;
  transition: transform 0.3s;
}

.c-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.c-menu__close {
  color: #660000;
  background-color: #e6ac00;
  font-size: 1.15em;
  border: none;
  box-shadow: none;
  border-radius: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.c-menu__close:focus {
  outline: none;
}

body.has-active-menu {
  overflow: hidden;
}

.c-mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}

.c-mask.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: opacity 0.3s;
}


.c-menu--push-left {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
}

@media all and (min-width: 320px) {
	.c-menu--push-left {
  		width: 300px;
    	transform: translateX(-300px);
  	}
}

.c-menu--push-left.is-active {
  transform: translateX(0);
}

.o-wrapper.has-push-left {
  transform: translateX(100%);
}

@media all and (min-width: 320px) {
  .o-wrapper.has-push-left {
    transform: translateX(300px);
  }
}


.c-menu--push-left .c-menu__item {
  display: block;
  text-align: center;
  border-top: solid 1px #751919;
  border-bottom: solid 1px #470000;
}

.c-menu--push-left .c-menu__item:first-child {
  border-top: none;
}

.c-menu--push-left .c-menu__item:last-child {
  border-bottom: none;
}


.c-menu--push-left .c-menu__link
 {
  display: block;
  padding: 12px 24px;
  color: #fff;
}


.c-menu--push-left .c-menu__close
 {
  display: block;
  padding: 12px 24px;
  width: 100%;
}

.o-wrapper.has-push-left {
  transform: translateX(100%);
}

@media all and (min-width: 320px) {
  .o-wrapper.has-push-left {
    transform: translateX(300px);
  }
}

footer .page-width-banner {
	height: 8em;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

}

h1, h2, h3, h4, h5, p {
	margin: 0 1em;
}

.banner-left-block h4 {
	margin: 0;
}

.hidden {
	display: none;
}

#index-pic-wr {
	  width: 100%;
	  margin: -8em 2em 0 2em;
}

#index-rbt {
	width: 40%;
	position: relative;
	display: inline-block;
}

/*.float-right-vert {
	position: relative;
  	float: right;
  	z-index: 99;
}*/

.atty-bar-button {
	cursor: pointer;
	font-size: 1.75em;
	font-weight: 700;
  	line-height: 2em;	
	margin: 0 0 .75em 1.25em;
	text-align: left;
  	text-decoration: none;	
	z-index: 99;
}

.atty-bar-top-button {
	margin-top: 50%;
}

.atty-bar-button #env {
	color: #025454;
}

.index-contact-button {
	background: #025454;
	cursor: pointer;
	height: 3.5em;
	text-align: center;
	width: 8em;
	z-index: 99;
	margin: 4em -2em 0 0;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);	
}

#index-contact-button a {
 	font-size: 1.25em;
 	line-height: 3em;
 	color: white;
 }

/*.index-wrap-top .right-block-top h3 {
	font-family: 'Sacramento', serif;
	font-size: 300%;
	margin: 0.5em 0 0 70%;
	color: #660000;
}*/

#index-exp {
	font-family: 'Sacramento', serif;
	font-size: 400%;
	margin: 0 0 0 40%;
	color: #660000;
	font-style: normal;
}

#index-text {
    padding: 0 5%;
    margin: 2em 0;
    position: relative;
    display: inline-block;
}

.left-block-top {
	width: 35%;
	margin-left: 0.75em;
	vertical-align: top;
}

.left-block-top.atty-block a, .right-block-top.atty-block a {
	color: #660000;
	cursor: pointer;
	text-decoration: none;
}

.left-block-top.atty-block img {
	width: 100%;
}

.left-block-top.atty-block p, .right-block-top.atty-block p {
	margin-bottom: 2em;
	text-align: justify;
	font-family: 'Source Sans Pro', Arial, sans-serif;
}

.left-block-top.atty-block p {
	margin-top: 3em;
}

li {
	font-size: 1.4em
}



.middle-body-wrap {
	padding: 3em 0;
  	background: #F7F9F8;
}


/*.middle-body-wrap article .text-block {
	width: auto;
}*/

.middle-body-wrap #attorney-square {
	position: relative;
	display: inline-block;
  	width: 96%;
  	margin: 0 2%;
}

.middle-body-wrap #attorney-square a {
	text-decoration: none;
	text-align: center;
	color: white;
}

.middle-body-wrap #attorney-square .att-pic-cap {
	display: block;
	background: #BE3100;
	width: 220px;
}

.middle-body-wrap #attorney-square [id*="index"], .middle-body-wrap #attorney-square #jacob-ind {
	position: relative;
	display: inline-block;
	margin-right: .5em;
}

.middle-body-wrap #attorney-square [id*="index"] img {
	-webkit-filter: none;
  	filter: none;
  	cursor: pointer;
	width: 220px;
	height: 196px;
	overflow: hidden;
	margin-right: .25em;
}

#jacob-ind img {
	width: 214px;
	height: 201px;
	overflow: hidden;
	margin-right: .25em;
  	cursor: pointer;
}

.middle-body-wrap h2 {
	font-family: 'Fjalla One', sans-serif;
	width: 15%;
	color: #BE3100;
}

.text-block {
	position: relative;
  	vertical-align: top;
  	display: none;
  	padding: 0 3%;
}

#pretty-text {
	width: 50%;
	position: relative;
	display: inline-block;

}

#pretty-text h2 {
/*	font-family: 'Josefin Slab', Georgia, serif;
	font-weight: 700;
	font-style: italic;
	font-size: 500%;
	font-size: 400%;*/
	line-height: 1.5em;

}

#fix-height {
	position: relative;
	height: 20em;
}



#page-break-a {
	height: 4em;
	margin: 0 0 4em 0;
}

#page-break-a a {
	color: #BE3100;
}

#page-break-a a:hover {
	color: #025454;
}



#page-break-a h2 {
	padding: 0.75em 0 .25em 1em;
  	font-size: 175%;
  	font-family: 'Playfair Display', Georgia, serif;
  	font-weight: 400;
  	float: right;
}

.page-width-banner {
  	width: 99%;
  	height: 8em;
  	position: relative;
  	margin: 0 auto;
	background: -webkit-linear-gradient(to right, #AAAAAA, #747474);
	background: -o-linear-gradient(to right, #AAAAAA, #747474);
	background: -moz-linear-gradient(to right, #AAAAAA, #747474);
	background: linear-gradient(to right, #cccccc, #666666);
	-webkit-box-shadow: 10px 10px 5px #888888;
	-moz-box-shadow: 10px 10px 5px #888888;
	box-shadow: 10px 10px 5px #888888;
}

.page-width-banner .banner-left-block, .banner-right-block, .middle-block {
	position: relative;
	width: 32%;
	color: white;
	display: inline-block;
	vertical-align: text-top;
}

#peer-review-badge {
	float: right;
}

.pre-footer {
  	line-height: 1.25em;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.banner-left-block {
	padding-left: 1em;

}

.right-block-top {
	width: 30%;
	padding-bottom: 2.5em;
	vertical-align: top;
}

.right-block-top p {
	margin-bottom: 2em; 
}


.right-block-top.atty-page-pic {
	width: 35%;
	margin-top: 4em;
}

/*.right-block-top.atty-block {
	width: 25%;
	margin: 4em 0 0 0.75em;
}*/


.atty-block {
	position: relative;
	display: inline-block;
}


.right-block-top.atty-block .pa-redirect-area {
	margin: 2em 2em 13.8em 2em;
}

.right-block-top.atty-block .pa-redirect-area h2 {
	font-family: 'Source Sans Pro', Arial, sans-serif;
	margin: 0 0 1.5em 0;
	color: #333333;
}

.right-block-top.atty-block .pa-redirect-area #employees-btn, #employers-btn {
	font-family: 'Sacramento', serif;
	font-size: 2.5em;
	margin: 0 0 1em 1em;
}


ul {
	list-style: none;
}


