* {
	margin: 0;
}

body {
	font-family: "Lato", Arial, sans-serif;
	line-height: 1.5em;
	background-color: rgba(61, 54, 46, .75);
	background-size: 60%;
}

.intro header {
	position: relative;
/*	background: #540202;*/
	background: #A3662C;
	overflow: hidden;
	width: 30%;
	float: left;
	/*if keeping transition, add prefixes for other browsers*/
	transition: all 0.4s ease;
}

.intro header h1 {
	position: absolute;
	font-size: 125%;
	color: #ffffff;
	line-height: 2em;
	top: 5em;
  	left: .5em;
	width: auto;
	padding: .5em;
	/*add more prefixes*/
	webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.intro header h1:nth-child(2) {
	top: 11em;
}

.intro header h1:nth-child(3) {
	top: 19.5em;
	left: -1em;
	padding: 0;
}

.intro header h1:nth-child(4) {
	top: 27.5em;
	left: 1.5em;
	padding: 0;
}

.intro header h2 {
	position: relative;
	background: #991212;
	display: block;
	float: right;
	font-size: 250%;
	color: #ffffff;
	line-height: 1.25em;
	width: 70%;
	height: 20em;
	padding: 6em 0.5em 0 0.5em;
	box-sizing: border-box;
}

.intro .summary {
	font-size: 100%;
	color: #ffffff;
	width: 70%;
	float: left;
	background: url("../img/75_New_York_State_Supreme_Courthouse_60_Centre_Street_from_southwest.jpg") no-repeat left top;
	background-size: 101%;
	height: 40em;
	margin: 0;
	padding: 3.5em 0 10em 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.intro .summary #firm-header {
	width: 100%;
/*	background-color: rgba(61, 54, 46, .25);*/
	z-index: 1;
	position: relative;
}

.intro .summary p {
	padding: 40% 2em 0;
	margin: 0;
 }

 .intro .summary p:last-child {
	padding: 1em 2em 0;
	margin: 0;
 }

.intro .summary #firm-header .logo, .firm-name {
  font-family: 'Average', serif;
  font-size: 400%;
  color: #540202;
  margin: .5em;
  letter-spacing: -.3em;
  display: inline-block;
}

.intro .summary #firm-header .firm-name { 
	letter-spacing: normal;
}

.intro .summary #firm-header .logo .amp {
	font-family: "Average", Georgia, serif;
	font-weight: normal;
	color: #FFC107;
}

.intro .summary #firm-header .logo #l-r {
	vertical-align: 0.4em;
  	font-size: 120%;
}

.intro .summary #firm-header .logo #l-b {
	vertical-align: -0.4em;
  	font-size: 120%;
}

.ital {
	font-style: oblique;
}

.page-wrapper {
	position: relative;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box;
}