* {
	margin: 0;
}

a {
/*	color: #ffffff;*/
	text-decoration: none;
	cursor: pointer;
	color: #FF8C16;
}

body {
	font-family: "Lato", Arial, sans-serif;
	line-height: 1.5em;
	background-color: #ffffff;
	background-size: 60%;
}

.contact-line {
	display: inline block;
}

.intro header {
	position: relative;
/*	background: #540202;*/
/*	background: #A3662C;*/
	background: #3B1105;
	/*background-image: -webkit-linear-gradient(left, rgba(184,148,77,.25), rgba(184,148,77,.75), rgba(184,148,77,.25));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), #B8944D, rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), #B8944D, rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), #B8944D, rgba(0,0,0,0));*/
	overflow: hidden;
	width: 40%;
	float: left;
	/*if keeping transition, add prefixes for other browsers*/
	transition: all 0.4s ease;
}

.intro header h1 {
	position: absolute;
	font-size: 125%;
	color: #ffffff;
	line-height: 2em;
	top: 5em;
  	left: .5em;
	width: auto;
	padding: .5em;
	/*add more prefixes*/
/*	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);*/
}

.intro header h1:nth-child(2) {
	top: 8em;
}

.intro header h1:nth-child(3) {
	top: 11em;
}

.intro header h1:nth-child(4) {
	top: 14em;
}

.intro header h2 {
	position: relative;
	background: #BD330C;
	display: block;
	float: right;
	font-size: 150%;
	color: #ffffff;
	line-height: 1.25em;
	width: 60%;
	padding: 5em 0.5em 0 0.5em;
	box-sizing: border-box;
}

.intro header h2:nth-child(5) {
	padding: 5em 0.5em 0 0.5em;
	font-size: 225%;
}

.intro header h2:last-child {
	padding: 3em 0.5em 0 0.5em;
	font-size: 150%;
	height: 15em;
}

.intro header h2 .ital {
	font-style: oblique;
}

.intro .index-pic {
	font-size: 100%;
  color: #1F1F1F;
	width: 60%;
	float: left;
	background: url("../img/75_New_York_State_Supreme_Courthouse_60_Centre_Street_from_southwest.jpg") no-repeat left top;
	background-size: 101%;
	height: 30em;
	margin: 0;
	padding: 3.5em 0 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom: 0.5em solid #025454;
}

.intro .index-pic #firm-header {
	width: 100%;
/*	background-color: rgba(61, 54, 46, .25);*/
	z-index: 1;
	position: relative;
}

/*#horiz-gr-bar {
  width: 60%;
  height: 0.5em;
  float: right;
  background-color: rgb(96,145,112);

}*/

.intro .text-block p {
	padding: 40% 2em 0;
	margin: 0;
 }

 .intro .text-block p:last-child,  {
	padding: 1em 2em 0;
	margin: 0;
 }

.intro .index-pic #firm-header .logo, .firm-name {
  font-family: 'Average', serif;
  font-size: 400%;
  color: #540202;
  margin: 0.5em;
  letter-spacing: -.3em;
  display: inline-block;
}

.intro .index-pic #firm-header .firm-name { 
	letter-spacing: normal;
	margin: 0.5em -0.1em;
}

.intro .index-pic #firm-header .firm-name #llp {
	font-size: 45%;
  	color: #025454;
}

.intro .index-pic #firm-header .logo .amp {
	font-family: "Average", Georgia, serif;
	font-weight: normal;
	/*	color: #F4FAD2;*/
	/*color: rgba(84,2,2,.75);*/
	color: #025454;
  	font-size: 150%;
}

.intro .index-pic #firm-header .logo #l-r {
	vertical-align: 0.45em;
  	font-size: 120%;
}

.intro .index-pic #firm-header .logo #l-b {
	vertical-align: -0.45em;
  	font-size: 120%;
}

.page-wrapper {
	position: relative;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box;
}

.vertical {
	width: 2px;
	color: #D8D8D8;
  	background-color: #D8D8D8;
	height: 1em;
 	margin: 0px;
  	border: 0px;
	display: inline-block;
	vertical-align: -20%;
}