* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

html, body {
	height: 100%;
}


body {
	font-family: 'Lato', 'Geneva', sans-serif;
	background-color: #f4f3ee;
}

hr {
	border: 0;
    height: 1px;
    margin-top: 3em;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), #B8944D, rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), #B8944D, rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), #B8944D, rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), #B8944D, rgba(0,0,0,0));
}

.ee_side_nav {
	display: flex-block;
}

.ee_side_nav > h2 {
	color: #83362c;
	font: 1.75em "Volkorn", Times, serif;
	font-weight: 600;
	margin: 0 0 1em 1em;
}

.ee_side_nav > ul {
	list-style-type: none;
	list-style-position: outside;
	font: 1em "Volkorn", Times, serif;
	font-weight: 200;
	line-height: 1.5em;

}

.ee_side_nav > ul li a {
	color: #4E4D4A;	
	text-decoration: none;
	}

.ee_side_nav > ul li a:hover {
	color: #83362c;
	font-weight: 600;
}



.small-side-nav > ul {
	list-style-type: none;
	list-style-position: outside;
	font: 1.25em "Volkorn", Times, serif;
	text-transform: uppercase;
	font-weight: 200;
	margin: 1em 0 1.5em 0;
	line-height: 2em;
}

.small-side-nav > ul li a {
	color: #83362c;	
	text-decoration: none;
	border-bottom: 1px solid #83362c;
	margin-top: .75em;
	padding-bottom: .2em;
}

.arr_bul {
	color: #ccb261;
	margin-right: 1em;

}
.page_wrap {
	min-height: 100%;
/*	margin-bottom: -5em;*/
}

.body-wrap {
	display: flex;
	flex-flow: row wrap-reverse;
  margin: 3em 0 0 2em;
}



.left-col-wrap, .right-col-wrap {
	display: inline-flex;
	margin: 0 3em 0 0;
	flex: 0% 0% auto;
}



#home_pg {
	background-image: url("../img/New_York_State_Supreme_Courthouse_60_Centre_Street_from_southwest.jpg");
	background-repeat: no-repeat;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.ad_notice_wr {
	height: 2em;
	background-color: #333333;
}

.ad_notice {
	margin: 0;
	font: .8em "Actor", sans-serif;
	color: #909090;
	text-transform: uppercase;
	margin-left: .5em;
	padding: .6em;
}

.header {
	width: 100%;
	background-color: rgba(255, 255, 255, .75);
	margin-top: 2em;
	z-index: 1;
	position: relative;
	margin-bottom: 14em;
}

.logo {
	margin: 0 .5em 1em;
	display: inline-block;
}

.logo_img {
	width: 35em;
	opacity: 1;
	margin-left: 1em;
}

.logo_img_small {
	width: 20em;
	opacity: 1;
	margin-left: 1em;
}

.phone {
	font: 1.75em "Volkorn", Times, serif;
	text-align: right;
	font-weight: 600;
	padding: 1em 1em 0;
	color: #333333;
}

.top_nav_wr {
	text-align: right;
	margin-top: -1em;
	padding-right: 1em;
}

.top_nav_wr a {
	color: #ccb261;
	font: .9em "Cabin", Arial, sans-serif;
	font-weight: lighter;
	padding-right: .65em;
	text-decoration: none;
}

.top_nav_wr a:visited {
	color: #83362c;
}

.experience {
	color: #83362c;
	float: right;
	display: inline-block;
	font-family: Times, serif;
	font-size: 2em;
	margin: 1.5em .5em 0;
}

.matters {
	font-style: oblique;
}

.side_nav {
  width: 20%;
  background-color: rgba(255, 255, 255, .75);
  margin-top: -6em;
  height: 30em;
  float: right;
  display: inline-block;
  margin-right: 1em;
  position: relative;
}

/*.pic_area {
	    box-shadow: inset 0 0 100px #EEE8AA;
}*/

.page_img {

  /*background: radial-gradient(rgba(0,0,0,0), rgba(238,232,170, 1)), url("../img/family2.jpg");*/
/*  background-repeat: no-repeat;
  background-position: center;*/
}

#fmla_img {
  display: block;
  margin: 0 auto;
  width: 100%;

}

/*.bmenu {
	padding: 0px;
	margin: 0 0 10px 0;
	position: relative;
	list-style-type: square;

}
.bmenu li{
	font-size: 1.5em;
	display: block;
	line-height: 2em;
	margin-left: 1em;
}

.bmenu li a{
	color: #83362c;
	text-decoration: none;
	display: block;
	text-transform: uppercase;
	text-shadow: 0px 0px 4px #83362c;
	letter-spacing: 1px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.bmenu:hover li a{
	text-shadow: 0px 0px 6px #83362c;
}

.bmenu li a:hover{
	color: #83362c;
	text-shadow: 0px 0px 1px #83362c;
	padding-left: 10px;
}*/

.contact {
	position: relative;
	font-family: "Lato", sans-serif;
	font-size: .75em;
	margin: .5em;
	color: #ccb261;
	margin-left: 85%;
}

.client_type {
	font-family: 'Calligraffitti', cursive;
	font-size: 4em;
	color: #FFDB58;
	position: relative;
	display: flex;
}

#employer_index {
	margin-left: 5em;
}

#employee_index {
	margin-left: 7em;
}

#left_side_bar {
	position: fixed;
	width: 8em;
	height: 60em;
	margin-top: -34.4em;
	margin-left: 76%;
	background: -webkit-linear-gradient(left, #9a4034, #612821);
	background: -o-linear-gradient(right, #9a4034, #612821);
	background: -moz-linear-gradient(right, #9a4034, #612821);
	background: linear-gradient(right, #9a4034, #612821);
	z-index: 0;
}

#all_pas {
	flex-direction: row;
}

.pa {
	color: #FFDB58;
	text-transform: uppercase;
	font-size: .25em;
	font-family: "Lato", sans-serif;
	list-style-type: none;
}

.invis {
	display: none;
}
