* {
	margin: 0;
}

a {
	color: #025454;
}

body {
	font-family: 'Muli', Arial, sans-serif;
	line-height: 1.75em;
	color: #2C2B26;
	background: #F7F9F8;
}

.body-wrap-top {
	background: white;
}

.body-wrap-top .float-right-vert {
	position: relative;
  	top: 5em;
  	float: right;
  	margin-right: -3em;
}

.body-wrap-top .float-right-vert .contact-button {
	width: 8em;
	height: 8em;
	background: #025454;
	color: white;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	text-align: center;
	cursor: pointer;
}

.body-wrap-top .float-right-vert .contact-button a {
	color: white;
	text-decoration: none;
	font-size: 1.75em;
  	line-height: 3em;
}


.body-wrap-top .left-block-top {
	position: relative;
	display: inline-block;
	width: 50%;
}

.body-wrap-top .left-block-top img {
	position: relative;
	display: inline-block;
	width: 100%;
	background-size: cover;
	margin-left: 0.5em;
}

.body-wrap-top .right-block-top {
	width: 40%;
	margin-left: 1.5em;
	position: relative;
	display: inline-block;
	vertical-align: top;
}

.body-wrap-top .right-block-top p {
	margin-bottom: 2em; 
}

.body-wrap-top .right-block-top h3 {
	font-family: 'Sacramento', serif;
	font-size: 300%;
	margin: 2em 0 0 40%;
	color: #660000;
}

footer .page-width-banner {
	height: 8em;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

}

h1, h2, h3, h4, h5, p {
	margin: 0 1em;
}

#index-header {
	background: white;
}

#index-header .header-logo, .header-raffbecker {
	font-family: 'Ovo', serif;
  	font-size: 250%;
  	color: #660000;
  	margin: 0.5em;
  	letter-spacing: -.5em;
  	display: inline-block;
}

#index-header .header-raffbecker { 
	letter-spacing: normal;
	margin: 0.5em -2em;
}

#index-header .header-raffbecker #llp {
	font-size: 45%;
  	color: #025454;
}

#index-header .header-logo .amp {
/*	font-family: "Average", Georgia, serif;*/
	font-family: 'Ovo', serif;
	font-weight: normal;
	/*	color: #F4FAD2;*/
	/*color: rgba(84,2,2,.75);*/
	color: #025454;
  	font-size: 150%;
}

#index-header .header-logo #l-r {
	vertical-align: 0.45em;
  	font-size: 175%;
}

#index-header .header-logo #l-b {
	vertical-align: -0.45em;
  	font-size: 175%;
}

.middle-body-wrap {
	padding: 3em 0;
  	background: #F7F9F8;
}


.middle-body-wrap article .text-block {
	width: auto;
}

.middle-body-wrap #attorney-square {
	position: relative;
	display: inline-block;
  	width: 70%;
}

.middle-body-wrap #attorney-square .att-pic-cap {
	display: none;
}

.middle-body-wrap #attorney-square [id*="index"] {
	position: relative;
	display: inline-block;
	margin-right: .5em;
}

.middle-body-wrap #attorney-square [id*="index"] img {
	width: 200px;
	height: 176px;
	overflow: hidden;
	-webkit-filter: grayscale(1) sepia(.85);
  	filter: grayscale(1) sepia(.85);
}

.middle-body-wrap #attorney-square [id*="index"] img:hover {
	-webkit-filter: none;
  	filter: none;
  	cursor: pointer;
  	width: 250px;
  	height: auto;
}

.middle-body-wrap h2 {
	font-family: 'Fjalla One', sans-serif;
	width: 15%;
	color: #BE3100;
}

.middle-body-wrap .text-block {
	position: relative;
  	vertical-align: top;
  	display: inline-block;
  	width: 20%;
  	padding: 0 3%;
}

#pa-flip{
	position: relative;
	display: inline-block;
	height: 2em;
}

#pa-examples {
	display: inline-block;
  	text-align: right;
  	margin-right: 2em;
  	padding: 1.75em 0 0 0;
  	float: right;
}

ul {
	width: 400px;
	list-style: none;
}
li {
	opacity: 0;
	height: 0;
	position: relative;
	font-family: 'Fjalla One', sans-serif;
  	color: #BE3100;
  	font-size: 1.4em;
}

.page-break-a {
	height: 4em;
}

.page-width-banner, .page-break-a {
  	width: 99%;
  	height: 8em;
  	position: relative;
  	margin: 0 auto;
	background: -webkit-linear-gradient(to right, #AAAAAA, #747474);
	background: -o-linear-gradient(to right, #AAAAAA, #747474);
	background: -moz-linear-gradient(to right, #AAAAAA, #747474);
	background: linear-gradient(to right, #AAAAAA, #747474);
	-webkit-box-shadow: 10px 10px 5px #888888;
	-moz-box-shadow: 10px 10px 5px #888888;
	box-shadow: 10px 10px 5px #888888;
}

.page-width-banner .banner-left-block, .banner-right-block {
	position: relative;
/*	width: 40%;*/
	color: white;
}

.page-break-a h2 {
	padding: 0.75em 0 .25em 1em;
  	font-size: 175%;
}

.pre-footer {
  	line-height: 1.25em;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.address-block {

}


.call-button, .email-button {
	margin: 1em;

}

.email-button {

}

.pre-footer h3 {
	font-size: 3em;
	color: white;
}

.pre-footer .banner-left-block {
	width: 49%;

}

.pre-footer .banner-right-block {
	width: 49%;	
}

.pre-footer .banner-right-block .phone-click-call {
	font-size: 2em;
	text-decoration: none;
}

#peer-review-badge {
	float: right;
}