* {
	margin: 0;
}

a {
	color: #025454;
}

.atty-nav-bar {
	height: 70em;
	background: -webkit-radial-gradient(#ffcc33, #996633);
	background: -o-radial-gradient(#ffcc33, #996633);
	background: -moz-radial-gradient(#ffcc33, #996633);
	background: linear-gradient(to right, #e6ac00, #ffcc33);
	position: relative;
	display: inline-block;
	width: 30%;
	vertical-align: top;
	padding-top: 1.5em;
	margin-left: 1.5em;
}

.atty-nav-bar a {
	color: #000000;
}

.atty-nav-bar .here {
	font-size: 2em;
	cursor: none;
	color: white;
	line-height: 2em;
}

.atty-nav-bar .not-here {
	font-size: 1.25em;
	cursor: pointer;
	line-height: 2em;
	width: 8em;
}

.right-block-top.atty-page-pic {
	width: 35%;
}

.atty-page-pic #ssalaz-pic {
	width: 100%;
}

.atty-sub-lists {
	margin: 0 0 0 4em;
}

.atty-sub-lists ul {
	width: 80%;
}

.atty-sub-lists h3 {
	color: #660000;
}

.left-block-top.atty-block {
	width: 35%;
}

.right-block-top.atty-block {
	width: 25%;
	margin-top: 4em;
}

.left-block-top.atty-block a, .right-block-top.atty-block a {
	color: #660000;
	cursor: pointer;
	text-decoration: none;
}

.left-block-top.atty-block p, .right-block-top.atty-block p {
	margin-bottom: 2em;
	text-align: justify;
	font-family: 'Source Sans Pro', Arial, sans-serif;
	position: relative;
	display: inline-block;
}

.right-block-top.atty-block p {
	margin-top: 3em;
}

.left-block-top.atty-block img {
	width: 100%;
}

.right-block-top.atty-block .pa-redirect-area {
	margin: 2em;


}

.right-block-top.atty-block .pa-redirect-area h2 {
	font-family: 'Source Sans Pro', Arial, sans-serif;
	margin: 0 0 1.5em 0;
}

.right-block-top.atty-block .pa-redirect-area #employees-btn, #employers-btn {
	font-family: 'Sacramento', serif;
	font-size: 2.5em;
	float: right;
	margin: 0 0 1em 0;
}


body {
	font-family: 'Muli', Arial, sans-serif;
	line-height: 1.75em;
	color: #2C2B26;
	background: #F7F9F8;
}

.body-wrap-top {
	background: white;
}

.body-wrap-top .float-right-vert, .all-header .float-right-vert {
	position: relative;
  	top: 5em;
  	float: right;
  	margin-right: -3em;
}

.all-header .float-right-vert {
	top: 0;
	margin-right: 1.5em;

}


.body-wrap-top .float-right-vert .contact-button, .all-header .float-right-vert .contact-button {
	width: 8em;
	height: 8em;
	background: #025454;
	color: white;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	text-align: center;
	cursor: pointer;
}

.all-header .float-right-vert .contact-button {
	width: 8em;
	height: 3em;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
	margin-top: 1em;

}

.body-wrap-top .float-right-vert .contact-button a, .all-header .float-right-vert .contact-button a {
	color: white;
	text-decoration: none;
	font-size: 1.75em;
  	line-height: 3em;
}
 .all-header .float-right-vert .contact-button a {
 	font-size: 1.25em;
 	line-height: 2.5em;
 }

.email-header {
	font-size: 2em;
	cursor: pointer;
	color: #025454;
	float: right;
	position: relative;
	display: block;
	top: 2.75em;
	margin-right: -4em;
}


.left-block-top  {
  position: relative;
  display: inline-block;
}


.left-block-top video  {
	position: relative;
	width: 40em;
	height: 20.2em;
	display: inline-block;
	background-size: cover;
	overflow: hidden;
	margin-left: 0.5em;
}

.right-block-top {
	width: 40%;
	margin-left: 1.5em;
	padding-bottom: 2.5em;
	position: relative;
	display: inline-block;
	vertical-align: top;
}

.right-block-top p {
	margin-bottom: 2em; 
}

.body-wrap-top .right-block-top h3 {
	font-family: 'Sacramento', serif;
	font-size: 300%;
	margin: 2em 0 0 40%;
	color: #660000;
}

footer .page-width-banner {
	height: 8em;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

}

h1, h2, h3, h4, h5, p {
	margin: 0 1em;
}

header {
	background: #ffffff;
	margin: 0;
}

.all-header {
	background: white;
}

.all-header.atty-hdr {
	padding: 1em 0 0 2em;
}

.all-header .header-logo, .header-raffbecker  {
	font-family: 'Ovo', serif;
  	font-size: 250%;
  	color: #660000;
  	margin: 0.5em;
  	letter-spacing: -.5em;
  	display: inline-block;
}

.all-header .header-raffbecker { 
	letter-spacing: normal;
	margin: 0.5em -2em;
}

.all-header .header-raffbecker .llp {
	font-size: 45%;

}

.all-header .header-raffbecker .llp#home-llp {
	color: #025454;
} 

.all-header .header-logo .amp {
	font-family: 'Ovo', serif;
	font-weight: normal;
  	font-size: 150%;
}

.all-header .header-logo .amp#home-amp {
	color: #025454;
}

.all-header .header-logo #l-r {
	vertical-align: 0.45em;
  	font-size: 175%;
}

.all-header .header-logo #l-b {
	vertical-align: -0.45em;
  	font-size: 175%;
}

.hidden {
	display: none;
}

.middle-body-wrap {
	padding: 3em 0;
  	background: #F7F9F8;
}


.middle-body-wrap article .text-block {
	width: auto;
}

.middle-body-wrap #attorney-square {
	position: relative;
	display: inline-block;
  	width: 70%;
}

.middle-body-wrap #attorney-square a {
	text-decoration: none;
	text-align: center;
	color: white;
}

.middle-body-wrap #attorney-square .att-pic-cap {
/*	display: none;*/
	display: block;
	background: #BE3100;
	width: 220px;
}

.middle-body-wrap #attorney-square [id*="index"] {
	position: relative;
	display: inline-block;
	margin-right: .5em;
}

/*.middle-body-wrap #attorney-square [id*="index"] img {
	width: 200px;
	height: 176px;
	overflow: hidden;
	-webkit-filter: grayscale(1) sepia(.85);
  	filter: grayscale(1) sepia(.85);
}*/

.middle-body-wrap #attorney-square [id*="index"] img {
	-webkit-filter: none;
  	filter: none;
  	cursor: pointer;
	width: 220px;
	height: 196px;
	overflow: hidden;
	margin-right: .25em;
}

.middle-body-wrap h2 {
	font-family: 'Fjalla One', sans-serif;
	width: 15%;
	color: #BE3100;
}

.middle-body-wrap .text-block {
	position: relative;
  	vertical-align: top;
  	display: inline-block;
  	width: 20%;
  	padding: 0 3%;
}

#pa-flip{
	position: relative;
	display: inline-block;
	height: 2em;
}

#pa-examples {
	display: inline-block;
  	text-align: right;
  	margin-right: 2em;
  	padding: 1.75em 0 0 0;
  	float: right;
}

ul {
	width: 400px;
	list-style: none;
}

li.no-show {
	opacity: 0;
	height: 0;
	position: relative;
	font-family: 'Fjalla One', sans-serif;
  	color: #BE3100;
  	font-size: 1.4em;
}

li.first-li {
	position: relative;
	font-family: 'Fjalla One', sans-serif;
  	color: #BE3100;
  	font-size: 1.4em;
}

.page-break-a {
	height: 4em;
}

.page-width-banner, .page-break-a {
  	width: 99%;
  	height: 8em;
  	position: relative;
  	margin: 0 auto;
/*  	background: -webkit-radial-gradient(#c2a34f, #FBB829);
	background: -o-radial-gradient(#c2a34f, #FBB829);
	background: -moz-radial-gradient(#c2a34f, #FBB829);
	background: radial-gradient(#c2a34f, #FBB829);*/
	background: -webkit-linear-gradient(to right, #AAAAAA, #747474);
	background: -o-linear-gradient(to right, #AAAAAA, #747474);
	background: -moz-linear-gradient(to right, #AAAAAA, #747474);
	background: linear-gradient(to right, #cccccc, #666666);
	-webkit-box-shadow: 10px 10px 5px #888888;
	-moz-box-shadow: 10px 10px 5px #888888;
	box-shadow: 10px 10px 5px #888888;
}

.page-width-banner .banner-left-block, .banner-right-block {
	position: relative;
/*	width: 40%;*/
	color: white;
}

.page-break-a h2 {
	padding: 0.75em 0 .25em 1em;
  	font-size: 175%;
}

.pre-footer {
  	line-height: 1.25em;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#susan-pg {
	background: #ffffff;
}

.call-button, .email-button {
	margin: 1em;

}


.pre-footer h3 {
	font-size: 3em;
	color: white;
}

.pre-footer .banner-left-block {
	width: 49%;

}

.pre-footer .banner-right-block {
	width: 49%;	
}

.pre-footer .banner-right-block .phone-click-call {
	font-size: 2em;
	text-decoration: none;
}

#peer-review-badge {
	float: right;
}