*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*#seal {
	position: relative;
	width:200px;
	height: 200px;
	background: url(../img/28seal.png) no-repeat;
}*/



body {
	font-family: 'Roboto', sans-serif;
}

p {
	color: #555;
}

header, form {
	padding: 4em 10%;
}

#main {
}

header {
/*	background-color: #077ABC;*/
/*	background-color: #152B3C;*/
/*	background-color: #2B4E72;*/
/*	background: url(../img/rulerinspriation.jpeg) no-repeat;
	background-color: #88ABC2;*/
	background-color: #033649;
	color: white;
	background-size: cover;
	background-position: center;
}

h1 {
	text-align: center;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 50px;
	margin-bottom: 10px;
}

span {
	font-weight: 300;
}

a {
	text-decoration: none;
	color: #94BA65;
}

a:hover {
	color: white;
}

.form-group {
	margin-bottom: 20px;
}

h2.heading {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 300;
	text-align: left;
	color: #506982;
	border-bottom: 1px solid #506982;
	padding-bottom: 3px;
	margin-bottom: 20px;
	margin-top: 10px;
}

.controls{
	text-align: left;
	position: relative;
	padding: 12px;
	border: 1px solid #c6c6c6;
	border-radius: 3px;
	width: 100%;
	margin-bottom: 18px;
	font-size: 16px;
	font-weight: 300;
}

.test {
	cursor: text;
	border: 2px solid #9FB1C1;	
}

input {
	outline: none;
	height: 60%;
	font-size: 14px;
	color: #353432;
	-webkit-appearance: caret;
	-moz-appearance: caret;
	appearance: caret;
}


.floatlabel {
	position: absolute;
}

label {
	position: relative;
	font-family: 'Orienta', sans-serif;
	height: 100%;
	left: 8px;
	color: #4E4D4A;

	font-size: 16px;
	display: inline-block;
	padding: 4px 10px;
	font-weight: 400;
/*	background-color: rgba(255,255,255,0);*/
}

label.active {
	top: -27px;
	color: #2790B0;
	background-color: rgba(255,255,255,1);
	-webkit-transition: color .3s, top .3s, background-color .1s;
	-moz-transition: color .3s, top .3s, background-color .1s;
	transition: color .3s, top .3s, background-color .1s;
}

#spec-container {
	border: 1px solid #c6c6c6;
	border-radius: 3px;
	padding: 12px;
	margin-bottom: 18px;
	font-size: 16px;
    background-color: #fff;
    width: 30%;
    display: inline-block;
}

.specialties {
	font-size: 16px;
	color: #555;
	cursor: pointer;
}

.spec-select {
	background-color: #94BA65;
}

#quantity {
	outline: 1px solid #c6c6c6;
	display: inline-block;

}

#num-line {
	display: block;
}

#qlabel {
	display: inline-block;
	left: 0;
	padding-left: 0;
}
#num-box {
	width: 5%;
	height: 16px;
	outline: 1px solid #c6c6c6;
	display: inline-block;
	position: absolute;

}

#request_one {
	display: inline-block;
	vertical-align: top;
	border: 1px solid #c6c6c6;
	border-radius: 3px;
	padding: 12px;
	width: 45%;
}

#add {
	cursor: pointer;
}

#save {
	cursor: pointer;
}

#spec-button {
	cursor: pointer;
}

/*#spec-button {
	width: 20%;
	background-color: #94BA65;
	cursor: pointer;
	color: white;
	padding: .5em;
	display: inline-block;
}*/

.request_conf {

	
}

textarea {
	resize: none;
	height: 100px;
	width: 100%;
	border-radius: 3px;
}

#comment-container {
	border: none;
}

button{
	cursor: pointer;
	background-color: #94BA65;
	border: none;
	color: #fff;
	padding: 12px 0;
	width: 15%;
	margin-top: 2em;
}

button:hover {
	background-color: #09e4cd;
}