*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*#seal {
	position: relative;
	width:200px;
	height: 200px;
	background: url(../img/28seal.png) no-repeat;
}*/

body {
	font-family: 'Roboto', sans-serif;
}

header {
	background-color: #033649;
	color: white;
	background-size: cover;
	background-position: center;
}

h1 {
	text-align: center;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 3.5em;
	margin: 0 0 .5em 0;
}

span {
	font-weight: 200;
	text-transform: none;
}

#header-instruc {
	font-size: 1.5em;
	color: white;
	font-weight: 200;
	line-height: 1.5em;
	text-align: center;
}

a {
	text-decoration: none;
	color: #94BA65;
	font-weight: 200;
}

a:hover {
	color: white;
	text-decoration: underline;
}

header, form {
	padding: 3em 10%;
}

#bar {
	width: 1.5em;
	height: 300%;
	margin: -19em 0 0 1em;
	background-color: orange;
	position: absolute;
}

.form-group {
	margin-bottom: 20px;
}

h2.heading {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 300;
	text-align: left;
	color: #506982;
	border-bottom: 1px solid #506982;
	padding-bottom: 3px;
	margin-bottom: 20px;
	margin-top: 10px;
}

.controls{
	text-align: left;
	position: relative;
	padding: 12px;
	border: 1px solid #c6c6c6;
	border-radius: 3px;
	width: 100%;
	margin-bottom: 18px;
	font-size: 16px;
	font-weight: 300;
}

.test {
	cursor: text;
	border: 2px solid #9FB1C1;	
}

input {
	outline: none;
	height: 60%;
	font-size: 14px;
	color: #353432;
	-webkit-appearance: caret;
	-moz-appearance: caret;
	appearance: caret;
}

.floatlabel {
	position: absolute;
}

label {
	position: relative;
	font-family: 'Orienta', sans-serif;
	height: 100%;
	left: 8px;
	color: #4E4D4A;
	font-size: 16px;
	display: inline-block;
	padding: 4px 10px;
	font-weight: 400;
/*	background-color: rgba(255,255,255,0);*/
}

label.active {
	top: -27px;
	color: #2790B0;
	background-color: rgba(255,255,255,1);
	-webkit-transition: color .3s, top .3s, background-color .1s;
	-moz-transition: color .3s, top .3s, background-color .1s;
	transition: color .3s, top .3s, background-color .1s;
}

p {
	color: #555;
}

#spec-container {
	border: 1px solid #c6c6c6;
	border-radius: 3px;
	padding: 12px;
	margin-bottom: 18px;
	font-size: 16px;
    background-color: #fff;
    width: 30%;
    display: inline-block;
}

.specialties {
	font-size: 16px;
	color: #555;
	cursor: pointer;
}

.spec-select {
	background-color: #2790B0;
	color: black;
	font-weight: 600;
}

#quantity {
	outline: 1px solid #c6c6c6;
	display: inline-block;
}

#num-line {
	display: block;
}

#qlabel {
	display: inline-block;
	left: 0;
	padding-left: 0;
}
#num-box {
	width: 5%;
	height: 16px;
	outline: 1px solid #c6c6c6;
	display: inline-block;
	position: absolute;

}

#request_one {
	display: inline-block;
	vertical-align: top;
	border: 1px solid #c6c6c6;
	border-radius: 3px;
	padding: 12px;
	width: 45%;
	margin-top: 2em;
	margin-bottom: 2em;
}

.confirmed {
	border: none;
	height: auto;
	font-size: 16px;;

}

#clear {
	cursor: pointer;
}

textarea {
	resize: none;
	height: 100px;
	width: 100%;
	border-radius: 3px;
}

#comment-container {
	border: none;
}

button{
	cursor: pointer;
	background-color: #94BA65;
	border: none;
	color: #fff;
	padding: 12px 0;
	width: 15%;
	margin-top: 2em;
}

button:hover {
	background-color: #09e4cd;
}